rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone to read and write to the database.
    // This is simple for development of internal tools but is not recommended
    // for applications with sensitive data or public access.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
